[FILES]
# Config Files
Cartridge Assembly QC File = D:\Seafile\OngoingProjects\Illumina\\2D Barcode System\pptc-keyence\app\test\CartridgeAssemblyQC\Cartridge Assembly QC 2.15.2.cfg
Laser Etch QC File         = D:\Seafile\OngoingProjects\Illumina\\2D Barcode System\pptc-keyence\app\test\LaserEtchQC\Laser Etch QC 1.2.1.cfg

# Image Files Directory
Vision Image Dir = D:\Seafile\OngoingProjects\Illumina\\2D Barcode System\pptc-keyence\app\test\xg\hist

# Image File Names
[CAM1]
Normal Image  = 0_&Cam1Img.Normal.jpg
Left Image    = 0_&Cam1Img.Left.jpg
Right Image   = 0_&Cam1Img.Right.jpg
Lower Image   = 0_&Cam1Img.Lower.jpg
Upper Image   = 0_&Cam1Img.Upper.jpg
Shape Image   = 0_&Cam1Img.Shape1.jpg
Texture Image = 0_&Cam1Img.Texture.jpg

[CAM2]
Normal Image  = 0_&Cam2Img.Normal.jpg
Left Image    = 0_&Cam2Img.Left.jpg
Right Image   = 0_&Cam2Img.Right.jpg
Lower Image   = 0_&Cam2Img.Lower.jpg
Upper Image   = 0_&Cam2Img.Upper.jpg
Shape Image   = 0_&Cam2Img.Shape1.jpg
Texture Image = 0_&Cam2Img.Texture.jpg


# Vision System
[VISION SYSTEM]
TCP Addr = localhost
TCP Port = 8500

# Barcode Reader
[BARCODE READER]
Port     = com3
Baudrate = 9600
Bytesize = 8
Parity   = E
Stopbits = 1

# PLC - motor control
[PLC]
Port     = com2
Baudrate = 9600
Bytesize = 8
Parity   = E
Stopbits = 1
