#cartridge-img {
	height: 600px;
}

#status-container {
	margin-bottom: 10px;
	position: sticky;
	top: 3rem;
}

#img-container {
	width: 25rem;
	height: 12rem;
	margin: 10px;
}

#tb-cart-id {
	width: 100%;
}

table {
	width: 40rem;
	margin: 0;
	padding: 0;
	border: none;
}
table th.sn {
	width: 2rem;
	
	border: none;
}
table td.sn {
	border: none;
	border-right: 2px solid black;
}
table td.full-border {
	border: 2px solid black;
}