/* Main scss file */
/* !IF ANY CHANGES ARE MADE TO ANY STYLESHEET, COMPILE THIS FILE! */
/* !IF ANY CHANGES ARE MADE, COMPILE main.scss NOT THIS FILE! */
/* General settings */
/* Login page */
/* Programs page(s) */
/* --- Basic setup --- */
body, h1, h2, h3, p, a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #212121;
}

body {
  font-size: 0.8rem;
  background-color: #f2f2f2;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

/* --- P --- */
p, label {
  margin: 5px 10px;
  font-size: 0.8rem;
}

/* --- Header text --- */
h1 {
  margin: 30px 10px 20px 10px;
  font-weight: lighter;
  font-size: 1.44rem;
}

h2 {
  margin: 20px 10px 10px 10px;
  font-size: 1.2rem;
}

/* --- Span --- */
span.error {
  color: red;
  font-size: 0.6rem;
}

/* --- Header (Side Navbar) --- */
header {
  width: 14.4rem;
  flex: 0 0 14.4rem;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: black;
  /* text colour */
  overflow-x: hidden;
  z-index: 100;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

:root[data-nav-open=false] header {
  flex: 0 0 0;
}

/* Header Content keeps content at constant width */
.nav-content {
  position: absolute;
  top: 0;
  width: 14.4rem;
  height: 100%;
  padding-left: 1.6rem;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.nav-content h1 {
  margin-left: 0;
  color: #dedede;
}

.nav-content p {
  margin-left: 0;
  margin-bottom: 0.8rem;
  color: #dedede;
}

.nav-content .header-user {
  overflow-wrap: break-word;
  font-weight: bold;
}

.nav-content ul {
  display: flex;
  flex-flow: column nowrap;
  width: -webkit-fill-available;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: scroll hidden;
}

.nav-content ul::-webkit-scrollbar {
  display: none;
}

.nav-content ul li {
  display: flex;
}

.nav-content ul li a {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.8rem 20px;
  color: #dedede;
  font-weight: lighter;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  border-radius: 0;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  /* --- Parented Navbar Item --- */
}

.nav-content ul li a:hover {
  padding-left: 1.6rem;
  background-color: #2b63df;
}

.nav-content ul li a:active {
  color: #212121;
  background-color: #737373;
}

.nav-content ul li a.active {
  color: #212121;
  font-weight: bold;
  background-color: #f2f2f2;
}

.nav-content ul li a.child {
  margin-left: 20px;
  padding: 10px 20px;
}

.nav-content ul li a.child:hover {
  padding-left: 1.6rem;
}

/* --- Navbar Logout Button --- */
.header-logout {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 10px 20px 0;
  padding: 0.5333333333rem 1.0666666667rem;
  color: #212121;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  background-color: #cd1818;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.header-logout:hover {
  background-color: #ea4848;
}

.header-logout:active {
  background-color: #891010;
}

/* --- Status Bar --- */
.status-bar {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 1.6rem;
  padding: 0;
  background: linear-gradient(90deg, black, #6d94e9);
  color: #dedede;
  z-index: 10;
}

.status-bar label {
  margin: 0;
  padding: 0.5333333333rem 0.5333333333rem;
  border: 2px solid transparent;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.status-bar label:hover {
  border-color: #f2f2f2;
}

.status-bar ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 1.6rem;
  list-style: none;
  margin: 0;
}

.status-bar ul li p {
  color: white;
  font-weight: lighter;
  text-shadow: 0 0 10px black;
}

/* --- Open/Close navbar checkbox */
#nav-toggle {
  display: none;
}

/* --- Content Wrapper --- */
.content-wrapper {
  min-width: fit-content;
  width: 100%;
  background-color: #f2f2f2;
}

/* --- Content Body --- */
.content-body {
  width: 100%;
}

/* --- Flash --- */
ul.flash {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  margin: 1.6rem;
  padding: 0.8rem 1.6rem;
  border: 1px solid #737373;
  background-color: lightgreen;
}

/* --- Div --- */
.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

/* additional container classes */
.flex-vertical {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-horizontal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.padding {
  padding: 1.6rem;
}

.padding-small {
  padding: 0.5333333333rem;
}

.top-no-padding {
  padding-top: 0;
}

.margin-center {
  margin: 0 0.5333333333rem;
}

.margin-right {
  margin-right: 0.5333333333rem;
}

.margin-bottom {
  margin-bottom: 0.5333333333rem;
}

.space-between {
  justify-content: space-between;
}

.max-width {
  width: 100%;
}

.bordered {
  border: 2px solid #737373;
}

.fill-available {
  width: -webkit-fill-available;
}

/* --- Grid --- */
.grid {
  display: grid;
}

.grid-padded {
  grid-gap: 0.5333333333rem;
}

/* --- Back Button --- */
.nav-back-container a {
  margin: 1.6rem;
  background-color: white;
}

/* --- Link Button --- */
.btn {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  /* Button text style */
  color: white;
  text-decoration: none;
  /* Button press outline */
  outline: none;
  background-image: linear-gradient(to right, #6d94e9, #99b4f0);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.btn:hover {
  background-image: linear-gradient(to right, #99b4f0, #c6d5f6);
}

.btn:active {
  background-image: linear-gradient(to right, #4174e2, #6d94e9);
}

.btn:disabled {
  background-image: none;
}

.btn:active {
  color: #999999;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.btn:active::after {
  visibility: visible;
  height: 0;
}

.btn:disabled {
  background-image: none;
  background-color: #999999;
  color: #737373;
  cursor: default;
}

.btn:disabled:hover {
  background-image: none;
  background-color: #999999;
}

.btn.btn-green {
  background-image: linear-gradient(to right, #18cd5e, #32e777);
}

.btn.btn-green:hover {
  background-image: linear-gradient(to right, #32e777, #5fec95);
}

.btn.btn-green:active {
  background-image: linear-gradient(to right, #13a049, #18cd5e);
}

.btn.btn-green:disabled {
  background-image: none;
}

.btn.btn-red {
  background-image: linear-gradient(to right, #cd1818, #e73232);
}

.btn.btn-red:hover {
  background-image: linear-gradient(to right, #e73232, #ec5f5f);
}

.btn.btn-red:active {
  background-image: linear-gradient(to right, #a01313, #cd1818);
}

.btn.btn-red:disabled {
  background-image: none;
}

.btn.btn-big {
  width: 100%;
  margin: 10px;
  height: 40vh;
  padding: 20px;
  flex-grow: 1;
  font-size: 1.28rem;
}

.btn.btn-big p {
  font-size: 1.28rem;
}

.btn.btn-small {
  margin: 10px;
  padding: 7.5px 20px;
}

.btn.btn-wide {
  width: -webkit-fill-available;
}

/* --- Input --- */
input {
  width: -webkit-fill-available;
  padding: 0.5333333333rem;
  margin: 0.5333333333rem;
  border: 2px solid #999999;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

input:hover {
  border-color: #afc5f3;
}

input:focus {
  border-color: #6d94e9;
}

input:active {
  border-color: #6d94e9;
}

.checkbox {
  width: auto;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  border: 2px solid #999999;
  padding: 6px;
  margin-top: 12px;
}

.checkbox:checked {
  border: 2px solid #6d94e9;
}

.checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: #6d94e9;
}

/* --- select --- */
select {
  padding: 5px;
  border: 2px solid #6d94e9;
  outline: none;
}

/* --- img --- */
img {
  height: auto;
  margin: 10px;
}

/* --- Table --- */
table.list {
  background-color: white;
  border-top: 2px solid #4d4d4d;
  border-collapse: collapse;
}

table.list th, table.list td {
  margin: 0.5333333333rem;
  padding: 0 20px;
  height: 4rem;
  border-bottom: 1px solid #737373;
  text-align: left;
}

/* --- Links --- */
a {
  width: fit-content;
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #6d94e9;
}

a.bordered {
  padding: 0 10px;
  border: 2px solid #6d94e9;
  border-radius: 4px;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

a.bordered:hover {
  border-color: #afc5f3;
  color: #afc5f3;
}

a.bordered:active {
  border-color: #2b63df;
  color: #2b63df;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/* --- Modals --- */
.modal {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: 50;
  -webkit-transition: visibility 0s, opacity 0.15s ease;
  -moz-transition: visibility 0s, opacity 0.15s ease;
  -ms-transition: visibility 0s, opacity 0.15s ease;
  -o-transition: visibility 0s, opacity 0.15s ease;
  transition: visibility 0s, opacity 0.15s ease;
}

.modal[data-enabled] {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.background {
  min-height: 100vh;
  background-image: url("/static/img/dna.jpg");
  background-size: cover;
}

.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-image: linear-gradient(135deg, rgba(43, 99, 223, 0.8), rgba(175, 197, 243, 0.8));
}

.overlay h1 {
  color: white;
  text-shadow: 0 0 0.4rem black;
}

.login {
  width: 16rem;
  flex: 0 0 16rem;
  position: relative;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px black;
}

.login form {
  width: 100%;
}

.login form button {
  width: -webkit-fill-available;
}

.user-mngt {
  width: 100%;
}

.user-mngt table {
  width: 100%;
}

.user-mngt table .tb-actions {
  width: 18rem;
}

.user-mngt table .btn-noleftmargin {
  margin-left: 0;
}

/* Shared stylesheet for program pages */
table.tb-program {
  width: 20rem;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
  border-collapse: collapse;
}

table.tb-program tr {
  height: 1.28rem;
}

table.tb-program tr:nth-child(even) {
  background-color: #e6e6e6;
}

table.tb-program tr:nth-child(even) td.full-border {
  background-color: #e6e6e6;
}

table.tb-program th {
  border: none;
  border-bottom: 2px solid #737373;
}

table.tb-program th.sn {
  width: 10%;
  border-bottom: none;
}

table.tb-program td.sn {
  border: none;
  border-right: 2px solid #737373;
}

table.tb-program td.full-border {
  background-color: white;
  border: 2px solid #737373;
}

table.tb-program td input {
  margin: 0;
  border: none;
  text-align: center;
  background-color: transparent;
}

.btn.btn-start {
  position: sticky;
  right: 30px;
  bottom: 20px;
  padding: 15px 50px;
  align-self: flex-end;
  border: 5px solid #f2f2f2;
  z-index: 5;
}

.status-container {
  position: sticky;
  top: 2.4rem;
  width: -webkit-fill-available;
  margin-bottom: 0.5333333333rem;
  background-color: white;
  z-index: 5;
}

.cart-container {
  position: relative;
  min-width: 12.8rem;
  background-color: white;
}

.cart-container .cart-display {
  min-width: -webkit-fill-available;
  margin: 0.5333333333rem;
  pointer-events: none;
  z-index: 1;
}

.cart-container .cart-underlay {
  position: absolute;
  top: 0.5333333333rem;
  bottom: 0.5333333333rem;
  left: 0.5333333333rem;
  right: 0.5333333333rem;
  margin: 3%;
}

.cart-container .cart-overlay {
  position: absolute;
  top: 0.5333333333rem;
  bottom: 0.5333333333rem;
  left: 0.5333333333rem;
  right: 0.5333333333rem;
  margin: 3%;
  z-index: 2;
}

.cart-container .cart-overlay .upper {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.cart-container .cart-overlay .lower {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 11;
}

table.tb-program.tb-cart-id {
  width: -webkit-fill-available;
}

table.tb-program .mask {
  width: 35%;
}

.cart-img {
  width: 200px;
  height: 200px;
  margin: 0.5333333333rem 0;
  background-color: white;
}

.gr-cart-item {
  background-color: #999999;
}

.gr-cart-item.i21 {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gr-cart-item.i22 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.gr-cart-item.i17 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.gr-cart-item.i18 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gr-cart-item.i19 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gr-cart-item.i20 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gr-cart-item.i13 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gr-cart-item.i14 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gr-cart-item.i15 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gr-cart-item.i16 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
}

.gr-cart-item.i9 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gr-cart-item.i10 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gr-cart-item.i11 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gr-cart-item.i12 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
}

.gr-cart-item.i5 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gr-cart-item.i6 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gr-cart-item.i7 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gr-cart-item.i8 {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 6;
}

.gr-cart-item.i1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 11;
}

.gr-cart-item.i2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 11;
}

.gr-cart-item.i4 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 6;
  grid-row-end: 11;
}

.laser-img {
  width: 300px;
  height: 200px;
  margin-bottom: 0.5333333333rem;
  background-color: white;
}

table.tb-program.tb-laser-id {
  width: 20rem;
}

table.tb-program.tb-laser-id .sn {
  font-weight: bold;
}

table.tb-program.tb-laser-barcode, table.tb-program.tb-laser-select {
  width: 16rem;
}

.laser-display-container {
  position: relative;
  margin-bottom: 0.5333333333rem;
  background-color: white;
}

.laser-tube .laser-underlay {
  position: absolute;
  top: 0.5333333333rem;
  bottom: 0.5333333333rem;
  left: 0.5333333333rem;
  right: 0.5333333333rem;
  margin: 5%;
  margin-left: 7%;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.laser-tube .laser-underlay .gr-laser-item {
  background-color: #999999;
}

.laser-tube .laser-display {
  min-width: 300px;
  z-index: 1;
}

.laser-tube .laser-overlay {
  position: absolute;
  top: 0.5333333333rem;
  bottom: 0.5333333333rem;
  left: 0.5333333333rem;
  right: 0.5333333333rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  z-index: 2;
}

.laser-tube .laser-overlay .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.laser-tube .laser-overlay .right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.laser-trough .laser-underlay {
  position: absolute;
  top: 0.5333333333rem;
  bottom: 0.5333333333rem;
  left: 0.5333333333rem;
  right: 0.5333333333rem;
  margin: 5% 10%;
  grid-template-columns: auto auto auto auto;
}

.laser-trough .laser-underlay .gr-laser-item {
  background-color: #999999;
}

.laser-trough .laser-display {
  min-width: 300px;
  z-index: 1;
}

.laser-trough .laser-overlay {
  position: absolute;
  top: 0.5333333333rem;
  bottom: 0.5333333333rem;
  left: 0.5333333333rem;
  right: 0.5333333333rem;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  z-index: 2;
}

.laser-trough .laser-overlay .left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}

.laser-trough .laser-overlay .right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.laser-modal .modal-wrapper, .laser-modal .modal-content {
  background-color: #f2f2f2;
}

.container.input-form-container {
  width: 400px;
}

.label-container {
  align-items: baseline;
}

.label-container.label-checkbox {
  padding-bottom: 0.5333333333rem;
}
