<!DOCTYPE html>
<html>

<head>
	{% if title %}
	<title>{{ title }} - Home Gate</title>
	{% else %}
	<title>Home Gate</title>
	{% endif %}
	<meta name='viewport'
		content='user-scalable=yes, initial-scale=1, minimum-scale=1, width=device-width, height=device-height' />
	
	<!-- CSS -->
	<link rel='stylesheet' type='text/css'
		href="{{ url_for('static', filename='styles/default-style.css') }}" />

	<!-- Script -->
	<script type = text/javascript>
		// Gets site location
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</head>

<body>
	<header>
		<ul>
			<li><a href='/'>Home</a></li>
			<li><a href='/info'>Info</a></li>
		</ul>
	</header>

	{% block content %}{% endblock %}

</body>

</html>