/* --- Variables --- */
:root {
	/* Colours */
	--red: #FF9AA2;
	--orange: #FFB7B2;
	--yellow: #FFDAC1;
	--green: #E2F0CB;
	--teal: #B5EAD7;
	--blue: #C7CEEA;

	/* Font */
	--primaryFont: 'Raleway', sans-serif;
	--secondaryFont: 'Josefin Sans', sans-serif;
}


/* --- Header --- */

header {
	width: 100%;

	position: relative;
	top: 0;

	margin-bottom: 10px;

	background-color: var(--red);

	z-index: 1;
}
header ul {
	display: flex;
	flex-flow: row nowrap;

	overflow: scroll hidden;

	list-style: none;
	margin: 0;
	padding: 20px;
}
header ul::-webkit-scrollbar {
	display: none;
}
header ul li {
	display: flex;
}
header ul li::after {
	/* Draws a dot after each list element */
	content: '\00b7';
	cursor: default;
}
header ul li:last-child::after {
	/* Not draw a dot after the last list element */
	content: '';
}
header ul li a {
	position: relative;

	margin: 0 10px;
	color: black;
	font-family: var(--primaryFont);
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;

	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
header ul li a::after {
	content: '';
	position: absolute;
	width: 0;
	height: 4px;
	bottom: 0;
	left: 0;

	background-color: black;
	visibility: hidden;

	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
header ul li a:hover {
	text-shadow: 0 1px 0 white;
}
header ul li a:hover::after {
	box-shadow: 0 1px 0 white;
	
	visibility: visible;
	
	width: 100%;
}
header ul li a:active {
	text-shadow: none;
}
header ul li a:active::after {
	box-shadow: none;

	visibility: visible;

	height: 0;
}

/* --- Div --- */

.container {
	display: flex;
	flex-flow: column nowrap;
	
	padding: 10px;

	border: 2px solid grey;
}
.flex-vertical {
	display: flex;
	flex-direction: column;
}
.flex-horizontal {
	display: flex;
	flex-direction: row;
}

/* --- Button --- */

button {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--green);
	border: 2px solid black;

	/* Button text style */
	color: black;
	font-family: var(--secondaryFont);
	font-weight: bold;

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}
button::after {
	content: '';
	position: absolute;
	width: 0;
	height: 4px;
	bottom: 0;
	left: 0;

	background-color: black;
	visibility: hidden;

	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-ms-transition: all 0.15s;
	-o-transition: all 0.15s;
	transition: all 0.15s;
}
button:hover::after {
	visibility: visible;
	
	width: 100%;
}
button:active {
	background-color: #ccc;

	color: #777;

	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
button:active::after {
	visibility: visible;

	height: 0;
}
.btn-big {
	width: 100%;
	margin: 10px;
	height: 60vh;
	padding: 20px;
	flex-grow: 1;
}
.btn-small {
	width: min-content;
	margin: 10px;
	padding: 10px 20px;
}
.red {
	background-color: var(--red);
}
.orange {
	background-color: var(--orange);
}
.yellow {
	background-color: var(--yellow);
}
.teal {
	background-color: var(--teal);
}
.blue {
	background-color: var(--blue);
}


/* --- Input --- */

input {
	padding: 10px;
	margin: 10px;
	border-color: var(--green);
	border-style: none none solid solid;
}


/* --- P --- */

p, label {
	margin: 5px 10px;
	font-family: var(--secondaryFont);
}


/* H1 */

h1 {
	margin: 30px 10px 20px 10px;
	font-family: var(--primaryFont);
}