#status-container {
	margin-bottom: 10px;
	position: sticky;
	top: 3rem;
	
	background-color: white;

	z-index: 5;
}

#img-container {
	width: 25rem;
	height: 12rem;
	margin: 10px;
}	

#tb-cart-id {
	width: 100%;
}
#tb-cart-id .sn {
	width: 8rem;
}

#cart-img, #cart-display {
	width: 30rem;
	height: 20rem;

	margin: 10px 0;

	background-color: white;
}

.start {
	position: fixed;
	right: 30px;
	bottom: 20px;

	padding: 15px 50px;
}

table {
	width: 20rem;
	margin: 10px;
	padding: 0;
	border: none;
	text-align: center;
}
table th, table tr {
	height: 2.5rem;
}
table th.sn {
	width: 2rem;

	border: none;
}
table td.sn {
	border: none;
}
table td.full-border {
	background-color: white;
	border: 2px solid var(--table-border-color);
}