.laser-img, .laser-display {
	width: 300px;
	height: 150px;

	margin: $spacing-unit / 3 0;

	background-color: white;
}

table.tb-program {

	&.tb-laser-id {
		width: $base-font-size * 25;

		.sn {
			width: 30%;
			font-weight: bold;
		}
	}

	&.tb-laser-barcode {
		width: $base-font-size * 20;
	}

}