table.tb-program {

	&.tb-manual-id {
		width: 25 * $base-font-size;

		.sn {
			font-weight: bold;
		}
	}
	
	&.tb-manual-barcode, &.tb-manual-select {
		width: 20 * $base-font-size;
	}

}

.manual-display-container {
	position: relative;

	margin-bottom: $spacing-unit / 3;

	background-color: white;
}

.manual-button-container {
	width: 25 * $base-font-size;

	p {
		font-weight: bold;
	}

	a {
		flex-grow: 1;
	}

	b {
		border: 1px solid;
		height: 25px;
		text-align: center;
		width: 9 * $base-font-size;
		padding: 3px 4px;
	}

}