/* Shared stylesheet for program pages */


// Information table
table.tb-program {
	width: 25 * $base-font-size;
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
	border-collapse: collapse;

	tr {
		height: 1.6 * $base-font-size;

		&:nth-child(even) {
			background-color: $table-alt-color;

			td.full-border {
				background-color: $table-alt-color;
			}
		}
	}

	th {
		// Make it same height as full-border
		border: none;
		border-bottom: $tb-border-width solid $border-color;

		&.sn {
			width: 10%;

			border-bottom: none;
		}
	}

	td {
		&.sn {
			border: none;
			border-right: $tb-border-width solid $border-color;
		}

		&.full-border {
			background-color: white;
			border: $tb-border-width solid $border-color;
		}

		input {
			margin: 0;
			padding: 0;

			border: none;

			text-align: center;

			background-color: transparent;
		}
	}
}

.btn.btn-start {
	position: sticky;
	right: 30px;
	bottom: 20px;

	padding: 15px 50px;

	align-self: flex-end;

	border: 5px solid $background-color;

	z-index: 5;
}

.status-container {
	position: sticky;
	top: 3 * $base-font-size;

	width: -webkit-fill-available;

	margin-bottom: $spacing-unit / 3;
	
	background-color: white;

	z-index: 5;
}

.gr-cartridge-item, .gr-laser-item {
	// Debug color
	// opacity: 50%;
	// @for $i from 0 to 22 {
	// 	&:nth-child(#{$i}) {
	// 		@include random-bgr();
	// 	}
	// }

	background-color: $gr-item-off;

	&.error {
		background-color: $gr-item-error;
	}
	&.pass {
		background-color: $gr-item-pass;
	}
}