{% extends "base-no-header.html" %}

{% block headless_content %}

<header>
	<ul>
		{% if current_user.is_anonymous %}
		<li><a href="{{ url_for('login') }}">Login</a></li>
		{% else %}
		<li><a href="{{ url_for('index') }}">Home</a></li>
		{% if current_user.is_authenticated and current_user.has_admin_rights() %}
		<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
		{% endif %}
		{% endif %}
	</ul>
	<ul>
		{% if not current_user.is_anonymous %}
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
		{% endif %}
	</ul>
</header>

<!-- Show flash messages -->
{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class='flash'>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endwith %}

{% block content %}{% endblock %}

{% endblock %}