{% extends 'base.html' %}
{% set active_page = 'cartridge' %}

{% block content %}

	<!-- Cartridge css -->
	<link rel='stylesheet' type='text/css'
	href="{{ url_for('static', filename='styles/cartridge.css') }}">

	<div class='container'>

		<!-- Title -->
		<h1>
			Cartridge Assembly QC
		</h1>

		<!-- Large container wrapper, fits width of page -->
		<div class='container no-padding flex-center'>

			<!-- Centered vertical container -->
			<div class='container fit-content'>

				<!-- Status code container -->
				<div id='status-container' class='container flex-center no-padding bordered'>
					<p>Status Code</p>
				</div>

				<!-- Horizontal container to contain both sides -->
				<div class='container flex-center flex-horizontal no-padding fit-content'>
					
					<!-- Left side container -->
					<div class='container no-padding flex-center'>
						<!-- Cartridge image -->
						<img id='cartridge-img' src="{{ url_for('static', filename='img/cartridge.svg') }}">
						<!-- Cartridge ID -->
						<table id='tb-cart-id' class='tb-small'>
							<tr><th>Cartridge ID</th></tr>
							<tr><td class='full-border'>id</td></tr>
						</table>
					</div>

					<!-- Right side container -->
					<div class='container no-padding flex-center'>
						<!-- Barcode and mask table -->
						<div class='container no-padding'>
							<table class='tb-small'>
								<tr>
									<th class='sn'>S/N</th>
									<th>Expected Mask</th>
									<th>Barcode</th>
								</tr>
								{% for x in range(1, 22) %}
									<tr>
										<td class='sn'>{{ x }}</td>
										<td class='full-border'></td>
										<td class='full-border'></td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>

				</div>

			</div>

		</div>
		
		
	</div>

{% endblock %}
