{% extends 'base.html' %}
{% set active_page = 'cartridge' %}

{% block content %}

	<div class='container padding'>

		<!-- Large container wrapper, fits width of page -->
		<div class='container flex-center fill-available'>

			<!-- Centered vertical container -->
			<div class='container fit-content'>

				<!-- Status code container -->
				<div id='cart-status' class='container status-container flex-center bordered'>
					<p>Set Cartridge on Stage, then click Start</p>
				</div>

				<!-- Horizontal container to contain both sides -->
				<div class='container flex-center flex-horizontal align-start fit-content'>
					
					<!-- Left side container -->
					<div class='container'>

						<!-- Cartridge Image Group -->
						<div class='container flex-horizontal'>

							<!-- Cartridge image CAM1 -->
							<div class='img-container container bordered flex-center padding-small'>

								<p>CAM1</p>
								
								<img id='cart-img-cam1' class='display-img'>
	
							</div>
							
							<!-- Cartridge image CAM2 -->
							<div class='img-container container bordered flex-center padding-small'>

								<p>CAM2</p>
								
								<img id='cart-img-cam2' class='display-img'>
	
							</div>

						</div>

						<!-- Cartridge display -->
						<div class='container cart-display-container flex-center bordered'>

							<!-- Underlay - colours the circles -->
							<div class='grid cart-underlay'>
								<!-- Grid items - top->bottom, left->right -->
								
								<!-- There are 12 rows and 10 columns -->
								<div class='gr-cart-item i1'></div>
								<div class='gr-cart-item i2'></div>
								<div class='gr-cart-item i4'></div>

								<div class='gr-cart-item i5'></div>
								<div class='gr-cart-item i6'></div>
								<div class='gr-cart-item i7'></div>
								<div class='gr-cart-item i8'></div>

								<div class='gr-cart-item i9'></div>
								<div class='gr-cart-item i10'></div>
								<div class='gr-cart-item i11'></div>
								<div class='gr-cart-item i12'></div>

								<div class='gr-cart-item i13'></div>
								<div class='gr-cart-item i14'></div>
								<div class='gr-cart-item i15'></div>
								<div class='gr-cart-item i16'></div>

								<div class='gr-cart-item i17'></div>
								<div class='gr-cart-item i18'></div>
								<div class='gr-cart-item i19'></div>
								<div class='gr-cart-item i20'></div>

								<div class='gr-cart-item i21'></div>
								<div class='gr-cart-item i22'></div>
								
							</div>

							<!-- Cartridge image overlay -->
							<img class='cart-display' src="{{ url_for('static', filename='img/cartridge.svg') }}">

						</div>
						
						<!-- Cartridge ID -->
						<table class='tb-program tb-cart-id'>
							<tr><th>Cartridge ID</th></tr>
							<tr><td id='cart-id' class='full-border'></td></tr>
						</table>

					</div>

					<!-- Right side container -->
					<div class='container margin-left'>
						<!-- Barcode and mask table -->
						<div class='container bordered padding-small'>
							<table class='tb-program'>
								<tr>
									<th class='sn'>S/N</th>
									<th class='mask'>Expected Mask</th>
									<th class='barcode'>Barcode</th>
								</tr>
								{% for x in range(1, 23) %}
									<tr>
										<td class='sn'>{{ x }}</td>
										<td class='full-border mask'></td>
										<td class='full-border barcode'></td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>

				</div>

			</div>

		</div>

		<a id='btn-start' class='btn btn-green btn-start'>START</a>

		{% include 'loading-modal.html' %}
		
		
	</div>
	
	<script src="{{ url_for('static', filename='src/cartridge.js') }}" defer></script>
	
{% endblock %}
