{% extends 'base.html' %}
{% set active_page = 'cartridge' %}

{% block content %}

	<div class='container padding'>

		<!-- Large container wrapper, fits width of page -->
		<div class='container flex-center fill-available'>

			<!-- Centered vertical container -->
			<div class='container fit-content'>

				<!-- Status code container -->
				<div id='cart-status' class='container status-container flex-center bordered'>
					<p>Processing</p>
				</div>

				<!-- Horizontal container to contain all sides -->
				<div class='container flex-center flex-horizontal align-start fit-content'>
					
					<!-- Left side container -->
					<div class='container'>

						<!-- Cartridge display -->
						<div id='cart-display-container' class='container cart-display-container flex-center bordered'>

							<!-- Underlay - colours the circles -->
							<div class='grid cart-underlay'>
								<!-- Grid items - top->bottom, left->right -->
								<!-- There are 10 rows and 12 columns -->
								<div class='gr-cart-item i21'></div>
								<div class='gr-cart-item i22'></div>

								<div class='gr-cart-item i17'></div>
								<div class='gr-cart-item i18'></div>
								<div class='gr-cart-item i19'></div>
								<div class='gr-cart-item i20'></div>

								<div class='gr-cart-item i13'></div>
								<div class='gr-cart-item i14'></div>
								<div class='gr-cart-item i15'></div>
								<div class='gr-cart-item i16'></div>

								<div class='gr-cart-item i9'></div>
								<div class='gr-cart-item i10'></div>
								<div class='gr-cart-item i11'></div>
								<div class='gr-cart-item i12'></div>

								<div class='gr-cart-item i5'></div>
								<div class='gr-cart-item i6'></div>
								<div class='gr-cart-item i7'></div>
								<div class='gr-cart-item i8'></div>

								<div class='gr-cart-item i1'></div>
								<div class='gr-cart-item i2'></div>
								<div class='gr-cart-item i4'></div>
							</div>

							<!-- Cartridge image overlay -->
							<img class='cart-display' src="{{ url_for('static', filename='img/cartridge.svg') }}">

							<!-- Overlay - function buttons top/bottom -->
							<div class='grid cart-overlay'>
								<div class='upper'></div>
								<div class='lower'></div>
							</div>

						</div>
						
						<!-- Cartridge ID -->
						<table class='tb-program tb-cart-id'>
							<tr><th>Cartridge ID</th></tr>
							<tr><td id='cart-id' class='full-border'>{{ cartridge_id }}</td></tr>
						</table>

					</div>

					<!-- Center container -->
					<div class='container margin-center'>
						<!-- Barcode and mask table -->
						<div class='container'>
							<table class='tb-program'>
								<tr>
									<th class='sn'>S/N</th>
									<th class='mask'>Expected Mask</th>
									<th class='barcode'>Barcode</th>
								</tr>
								{% for x in range(1, 23) %}
									<tr id='barcode-{{ x }}'>
										<td class='sn'>{{ x }}</td>
										<td class='full-border mask'></td>
										<td class='full-border barcode'></td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>

					<!-- Right side container -->
					<div class='container'>

						<!-- Cartridge photo -->
						<div id='cart-img-container' class='cart-img-container container bordered flex-center flex-vertical padding-small'>

							<!-- Image with zoom elements -->
							<div class='zoom-container container flex-center'>

								<div class='zoom-lens'></div>
								<img class='display-img'>
								<div class='zoom-result'></div>

							</div>

							<!-- Image navigation -->
							<div class='container flex-center flex-horizontal max-width'>

								<button id='btn-prev' class='btn btn-light prev'><p><</p></button>

								<div class='image-info flex-center'>
									<p id='image-title'>normal</p><p id='image-count'>1 / 5</p>
								</div>

								<button id='btn-next' class='btn btn-light next'><p>></p></button>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<a id='btn-done' class='btn btn-green btn-start'>DONE</a>
		
	</div>


	{% include 'program-globals-loader.html' %}
	
	<script src="{{ url_for('static', filename='src/image-preloader.js') }}"></script>

	<script src="{{ url_for('static', filename='src/cartridge-process.js') }}" defer></script>
	
{% endblock %}
