{% extends 'base.html' %}
{% set active_page = 'dashboard' %}

{% block content %}

	<div class='container padding'>

		{% if current_user.is_authenticated %}
		<p>Logged in as <strong>{{ current_user.username }}</strong></p>
		{% endif %}

		<h2>User Management</h2>

		<div class='user-mngt'>

			<table class='list'>

				<tr>
					<th>Username</th>
					<th>Account Type</th>
					<th class='tb-actions'>Actions</th>
				</tr>
	
				{% for account in users %}
				<tr>
					{% if account.id == current_user.id %}
					<td><strong>{{ account.username }}</strong><em> (Current user)</em></td>
					{% else %}
					<td>{{ account.username }}</td>
					{% endif %}
					<td>{{ account.get_account_type_name() }}</td>
					<td>
						<div class='flex-horizontal'>
							<button id='{{ account.id }}' type='button' class='btn btn-small btn-red btn-noleftmargin btn-js-remove'
							{% if account.account_type == 0 or account.id == current_user.id %}
							disabled
							{% endif %}
							>Remove</button>
							<button id='{{ account.username }}' type='button' class='btn btn-small btn-js-reset'>Reset Password</button>
						</div>
					</td>
				</tr>
				{% endfor %}
	
				<tr>
					<th colspan='99'>
						<div class='flex-horizontal flex-center'>
							<button type='button' class='btn btn-small' onclick="window.location.href = '{{ url_for("registration", next="/"+request.endpoint) }}'">Create new user</button>
						</div>
					</th>
				</tr>
	
			</table>

		</div>

		
	</div>

	<script src="{{ url_for('static', filename='src/dashboard.js') }}" defer></script>

{% endblock %}