{% extends 'base.html' %}
{% set active_page = 'laser' %}


{% block content %}

	<div class='container flex-center'>

		<!-- Large container wrapper, fits width of page -->
		<div class='container flex-center'>

			<!-- Centered vertical container -->
			<div class='container padding fit-content'>

				<!-- Status code container -->
				<div class='container status-container flex-center bordered'>
					<p>SUCCESS</p>
				</div>

				<!-- Horizontal container to contain both sides -->
				<div class='container flex-center flex-horizontal align-start fit-content'>

					<!-- Left side container -->
					<div class='container flex-center margin-right'>
						<!-- Cartridge image -->
						<div class='laser-img container bordered'></div>

						<!-- Cartridge digital container -->
						<div class='container laser-display-container bordered'>


							<!-- TUBE Display -->
							<div class='container laser-tube'>

								<!-- Underlay - colours the circles -->
								<div class='grid laser-underlay'>
									<!-- Grid items - top->bottom, left->right -->
									<!-- There are 4 rows and 6 columns -->
									<div class='gr-laser-item i19'></div>
									<div class='gr-laser-item i20'></div>
									<div class='gr-laser-item i21'></div>
									<div class='gr-laser-item i22'></div>
									<div class='gr-laser-item i23'></div>
									<div class='gr-laser-item i24'></div>

									<div class='gr-laser-item i13'></div>
									<div class='gr-laser-item i14'></div>
									<div class='gr-laser-item i15'></div>
									<div class='gr-laser-item i16'></div>
									<div class='gr-laser-item i17'></div>
									<div class='gr-laser-item i18'></div>

									<div class='gr-laser-item i7'></div>
									<div class='gr-laser-item i8'></div>
									<div class='gr-laser-item i9'></div>
									<div class='gr-laser-item i10'></div>
									<div class='gr-laser-item i11'></div>
									<div class='gr-laser-item i12'></div>

									<div class='gr-laser-item i1'></div>
									<div class='gr-laser-item i2'></div>
									<div class='gr-laser-item i3'></div>
									<div class='gr-laser-item i4'></div>
									<div class='gr-laser-item i5'></div>
									<div class='gr-laser-item i6'></div>

								</div>
								<!-- Cartridge display overlay -->
								<img class='laser-display' src="{{ url_for('static', filename='img/laser.svg') }}">
								<!-- Overlay - functional buttons left/right -->
								<div class='grid laser-overlay'>
									<div class='left'></div>
									<div class='right'></div>
								</div>

							</div>


							<!-- TROUGH Display -->
							<div class='container laser-trough hidden'>

								<!-- Underlay - colours the troughs -->
								<div class='grid laser-underlay'>
									<!-- Grid items - top->bottom, left->right -->
									<!-- There are 4 columns -->
									<div class='gr-laser-item i1'></div>
									<div class='gr-laser-item i2'></div>
									<div class='gr-laser-item i3'></div>
									<div class='gr-laser-item i4'></div>

								</div>
								<!-- Cartridge display overlay -->
								<img class='laser-display' src="{{ url_for('static', filename='img/laser-trough.svg') }}">
								<!-- Overlay - functional buttons left/right -->
								<div class='grid laser-overlay'>
									<div class='left'></div>
									<div class='right'></div>
								</div>

							</div>


						</div>

						<!-- Cartridge ID -->
						<table class='tb-program tb-laser-id'>
							<tr>
								<td class='sn'>Work Order</td>
								<td class='full-border' id='laser-work-order'>{{ work_order }}</td>
							</tr>
							<tr>
								<td class='sn'>Part Number</td>
								<td class='full-border' id='laser-part-number'>{{ part_number }}</td>
							</tr>
							<tr>
								<td class='sn'>Rack ID</td>
								<td class='full-border' id='laser-rack-id'>{{ rack_id }}</td>
							</tr>
						</table>
					</div>

					<!-- Right side container -->
					<div class='container flex-center'>

						<!-- Laser etch instrument selection -->
						<div class='container bordered padding-small margin-bottom'>
							<table class='tb-program tb-laser-select'>
								<tr>
									<th class='sn'>Laser Instrument</th>
								</tr>
								<tr>
									<td id='td-laser-instrument' class='full-border'>{{ laser_instrument }}</td>
								</tr>
							</table>
						</div>

						<!-- TUBE -->
						<!-- Barcode and mask table -->
						<div id='laser-tube-barcode' class='container laser-tube-barcode'>
							<table class='tb-program tb-laser-barcode'>
								<tr>
									<th class='sn'>S/N</th>
									<th>Barcode</th>
								</tr>
								{% for x in range(1, 25) %}
									<tr id='barcode-{{ x }}'>
										<td class='sn'>{{ x }}</td>
										<td class='full-border'></td>
									</tr>
								{% endfor %}
							</table>
						</div>

						<!-- TROUGH -->
						<!-- Barcode and mask table -->
						<div id='laser-trough-barcode' class='container laser-trough-barcode hidden'>
							<table class='tb-program tb-laser-barcode'>
								<tr>
									<th class='sn'>S/N</th>
									<th>Barcode</th>
								</tr>
								{% for x in range(1, 5) %}
									<tr id='barcode-{{ x }}'>
										<td class='sn'>{{ x }}</td>
										<td class='full-border'></td>
									</tr>
								{% endfor %}
							</table>
						</div>

					</div>

				</div>

			</div>

		</div>

		<a id='btn-done' class='btn btn-green btn-start'>DONE</a>

		<!-- Laser instrument selection modal -->
		<div id='laser-modal' class='modal laser-modal'>

			<div class='container modal-wrapper padding'>

				<!-- Modal content -->
				<div class='modal-content container padding bordered'>

					<h2>Select Laser Etcher</h2>

					<div class='container margin-bottom'>

						{% for instrument in instruments %}
							<div class='container flex-horizontal'>
								<input id='{{ instrument }}' name='laser-modal-radio' type='radio' value='{{ instrument }}'>
								<label for='{{ instrument }}'>{{ instrument }}</label>
							</div>
						{% endfor %}

					</div>

					<div class='container flex-horizontal space-between max-width'>
						<a id='btn-select-cancel' class='btn btn-small'>Cancel</a>
						<a id='btn-select-confirm' class='btn btn-small btn-green'>Confirm</a>
					</div>

				</div>

			</div>

		</div>

	</div>


	<!-- Pass Variables -->
	<script type='text/javascript' defer>
	var Globals = {
		data: {{ data|tojson }},
		rack_type: {{ rack_type }}
	};
	</script>

	<script src="{{ url_for('static', filename='src/laser-process.js') }}" defer></script>

{% endblock %}
