{% extends 'base.html' %}

{% block content %}

	<!-- Login css -->
	<link rel='stylesheet' type='text/css'
	href="{{ url_for('static', filename='styles/login.css') }}">

	<!-- Container to fill screen to center login container -->
	<div class='big-container flex-center'>

		<!-- Login container element -->
		<div class='container flex-horizontal login'>
			
			<!-- Left side div -->
			<div class='div-left flex-center'>
				<h1 style='margin: 0;'>
					PPTC Keyence Vision System
				</h1>
			</div>

			<!-- Center divider -->
			<div class='center-divider'></div>

			<!-- Right side div -->
			<div class='div-right'>

				<h2>Account Login</h2>
			
				<form action='' method='POST' class='flex-vertical' novalidate>
					
					<!-- Form security protection -->
					{{ form.hidden_tag() }}
		
		
					<!-- Username -->
					<div class='flex-horizontal' style='align-items: baseline;'>
						{{ form.username.label }}
		
						{% for error in form.username.errors %}
						<span class='error'>*{{ error }}</span>
						{% endfor %}
					</div>
					
					{{ form.username(autofocus=true, placeholder='Username', autocorrect='off', autocapitalize='none') }}
		
		
					<!-- Password -->
					<div class='flex-horizontal' style='align-items: baseline;'>
						{{ form.password.label }}
		
						{% for error in form.password.errors %}
						<span class='error'>*{{ error }}</span>
						{% endfor %}
					</div>
					
					{{ form.password(placeholder='Password') }}
		
		
					<!-- Remember me -->
					<div class='flex-horizontal' style='align-items:center'>
						{{ form.rmb_me(class='checkbox') }}
						{{ form.rmb_me.label(style='margin-left:5px') }}
					</div>
		
					<button id='submit' type='submit' class='btn-small green'>Log In</button>
		
				</form>

			</div>
	
		</div>

	</div>

{% endblock %}