{% extends 'base.html' %}
{% set active_page = 'manual_test' %}

{% block content %}

	<div class='container flex-center'>

		<!-- Large container wrapper, fits width of page -->
		<div class='container flex-center'>

			<!-- Centered vertical container -->
			<div class='container padding fit-content'>

				<!-- Horizontal container to contain both sides -->
				<div class='container flex-center flex-horizontal align-start fit-content'>

					<!-- Left side container -->
					<div class='container flex-center margin-right'>


						<!-- Image display -->
						<div id='manual-img-container' class='img-container container bordered flex-center flex-vertical padding-small margin-bottom'>

							<!-- Image with zoom elements -->
							<div class='zoom-container container flex-center'>

								<div class='zoom-lens'></div>
								<img class='display-img'>
								<div class='zoom-result'></div>

							</div>

							<!-- Image navigation -->
							<div class='container flex-center flex-horizontal max-width'>

								<button id='btn-prev' class='btn btn-light prev'><p><</p></button>

								<div class='image-info flex-center'>
									<p id='image-title'>normal</p><p id='image-count'>1 / 5</p>
								</div>

								<button id='btn-next' class='btn btn-light next'><p>></p></button>

							</div>

						</div>


						<!-- Work Order / ID -->
						<table class='tb-program tb-manual-id'>
							<tr>
								<td class='sn'><label for='manual-work-order'>Work Order</label></td>
								<td class='full-border'><input id='manual-work-order' type='number'></td>
							</tr>
							<tr>
								<td class='sn'><label for='manual-rid'>Rack ID / Cart ID</label></td>
								<td class='full-border'><input id='manual-id' type='number'></td>
							</tr>
						</table>


					</div>

					
					
					<!-- Center container -->
					<div class='container margin-center'>


						<!-- Command buttons -->

						<div class='container bordered manual-button-container flex-vertical padding-small margin-bottom'>
							<p>Main</p>
							<div class='container flex-horizontal max-width'>
								<a id='btn-initialization' class='btn btn-small'>Initialization</a>
								<a id='btn-home-pos' class='btn btn-small'>Home Pos</a>
							</div>
						</div>

						<div class='container bordered manual-button-container flex-vertical padding-small margin-bottom'>
							<p>Cartridge Assembly QC</p>
							<div class='container flex-horizontal max-width'>
								<a id='btn-cart-move-pos-1' class='btn btn-small'>Move to Pos 1</a>
								<a id='btn-cart-read-1D' class='btn btn-small'>Read 1D barcodes</a>
							</div>
							<div class='container flex-horizontal max-width'>
								<a id='btn-cart-move-pos-2' class='btn btn-small'>Move to Pos 2</a>
								<a id='btn-cart-read-2D' class='btn btn-small'>Read 2D barcodes</a>
							</div>
						</div>

						<div class='container bordered manual-button-container flex-vertical padding-small'>
							<p>Laser Etch QC</p>
							<div class='container flex-horizontal max-width'>
								<a id='btn-laser-move-pos-1' class='btn btn-small'>Move to Pos 1</a>
								<a id='btn-laser-read-1D' class='btn btn-small'>Read 1D barcodes</a>
							</div>
							<div class='container flex-horizontal max-width'>
								<a id='btn-laser-move-pos-2' class='btn btn-small'>Move to Pos 2</a>
								<a id='btn-laser-read-2D' class='btn btn-small'>Read 2D barcodes</a>
							</div>
						</div>


					</div>



					<!-- Right side container -->
					<div class='container flex-center'>

						<!-- TUBE -->
						<!-- Barcode table -->
						<div id='manual-tube-barcode' class='container bordered padding-small manual-tube-barcode'>
							<table class='tb-program tb-manual-barcode'>
								<tr>
									<th class='sn'>S/N</th>
									<th class='barcode'>Barcode</th>
								</tr>
								{% for x in range(1, 25) %}
									<tr id='barcode-{{ x }}'>
										<td class='sn'>{{ x }}</td>
										<td class='full-border barcode'></td>
									</tr>
								{% endfor %}
							</table>
						</div>

					</div>

				</div>

			</div>

		</div>

		<a id='btn-clear' class='btn btn-small'>CLEAR</a>

	</div>

	{% include 'program-globals-loader.html' %}

	<script src="{{ url_for('static', filename='src/image-preloader.js') }}"></script>

	<script src="{{ url_for('static', filename='src/manual-test.js') }}" defer></script>

{% endblock %}
