{% extends 'base.html' %}
{% set active_page = 'registration' %}

{% block content %}

	<div class='container flex-center'>

		<div class='container input-form-container'>

			<h1>{{ title }}</h1>

			<form action='' method='POST' class='flex-vertical align-start max-width' novalidate>
				
				<!-- Form security protection -->
				{{ form.hidden_tag() }}


				<!-- Username -->
				<div class='flex-horizontal label-container'>
					{{ form.username.label }}

					{% for error in form.username.errors %}
					<span class='error'>*{{ error }}</span>
					{% endfor %}
				</div>
				
				{{ form.username(autofocus=true, placeholder='Username', autocorrect='off', autocapitalize='none') }}


				<!-- Password -->
				<div class='flex-horizontal label-container'>
					{{ form.password.label }}
	
					{% for error in form.password.errors %}
					<span class='error'>*{{ error }}</span>
					{% endfor %}
				</div>
				
				{{ form.password(placeholder='Password') }}
	
	
				<!-- Confirm Password -->
				<div class='flex-horizontal label-container'>
					{{ form.password2.label }}

					{% for error in form.password2.errors %}
					<span class='error'>*{{ error }}</span>
					{% endfor %}
				</div>
				
				{{ form.password2(placeholder='Confirm Password') }}


				<!-- Select account type -->
				<div class='flex-horizontal label-container label-checkbox'>
					{{ form.account_type.label }}

					{{ form.account_type }}
					
					{% for error in form.account_type.errors %}
					<span class='error'> *{{ error }}</span>
					{% endfor %}
				</div>


				<!-- Additional info -->
				<p>
					<strong>Administrator</strong> - Has permission to perform Vision adjustment and user management<br>
					<strong>Operator</strong> - Only has permission operate the program but not modify the system<br>
				</p>

				<button id='submit' type='submit' class='btn btn-small btn-wide'>Register</button>

			</form>

		</div>

	</div>

{% endblock %}