{% extends "base.html" %}

{% block content %}

	<div class='container' style='max-width: 400px; margin-left: auto; margin-right: auto;'>

		<h1>Create new account</h1>

		<form action='' method='POST' class='flex-vertical' novalidate>
			
			<!-- Form security protection -->
			{{ form.hidden_tag() }}


			<!-- Username -->
			<div class='flex-horizontal' style='align-items: baseline;'>
				{{ form.username.label }}

				{% for error in form.username.errors %}
				<span class='error'>*{{ error }}</span>
				{% endfor %}
			</div>
			
			{{ form.username(autofocus=true, placeholder='username', autocorrect='off', autocapitalize='none') }}


			<!-- Password -->
			<div class='flex-horizontal' style='align-items: baseline;'>
				{{ form.password.label }}

				{% for error in form.password.errors %}
				<span class='error'>*{{ error }}</span>
				{% endfor %}
			</div>
			
			{{ form.password(placeholder='password') }}


			<!-- Confirm Password -->
			<div class='flex-horizontal' style='align-items: baseline;'>
				{{ form.password2.label }}

				{% for error in form.password2.errors %}
				<span class='error'>*{{ error }}</span>
				{% endfor %}
			</div>
			
			{{ form.password2(placeholder='password') }}


			<div class='flex-horizontal' style='align-items:baseline; padding-bottom: 10px'>
				{{ form.account_type.label }}

				{{ form.account_type }}
				
				{% for error in form.account_type.errors %}
				<span class='error', style='margin-left: 10px'>*{{ error }}</span>
				{% endfor %}
			</div>
	
			<button id='submit' type='submit' class='btn-small teal'>Register</button>

		</form>

	</div>

{% endblock %}